{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-5">
                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">WHAT OUR CLIENTS SAY</h2>
                    </div>
                    <p>What some Nigerian advertising practitioners say about POMO NEWS.</p>

                        <blockquote class="blockquote">
                            <p>POMO NEWS is consistent in quality and style. These make it a good advertising medium</p>
                        <footer class="blockquote-footer"> John Okorie </footer>
                        </blockquote>                                               
                        <blockquote class="blockquote"><p>You cannot advertise fast moving-consumer-goods without the POMO NEWS. Ditto for electronics.</p>
                        <footer class="blockquote-footer"> Victor Anukem</footer>
                        </blockquote>
                        
                    <blockquote class="blockquote">
                        <p>We have a good relationship with POMO NEWS. I can’t remember the last time they missed our ads. They are very professional</p>
                        <footer class="blockquote-footer">Samuel Oluwayomi</footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-7">
                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">Our Vision</h2>
                    </div>
                    <p>To be the Best Media group with the Widest Reach through innovation backed by excellent service delivery, highly motivated human capital and latest technology.</p>
                </div>
            </div>

            <div class="col-md-5">
                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">Our Mission</h2>
                    </div>
                    <p>To impact positively on our Readers/Clients and society by providing high quality, reliable and affordable media products for promoting knowledge, political stability and economic prosperity.</p>
                    
                </div>
            </div>

            <div class="col-md-7">
                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">OUR CORE VALUES </h2>
                    </div>
                    <p>Equity and Fairness</p>
                    <p>Integrity</p>
                    <p>People- centerdness</p>
                    <p>Excellence</p>
                    
                </div>
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}