{% extends 'base.html' %}
{% load static %}
{% block content %}

<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <div class="col-md-8">
                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">Contact Information</h2>
                    </div>
                    <p>Do you have details of a possible story, breaking news, releases, photos or videos? Please e-mail or call us today</p>
                    <ul class="contact">
                        <li><i class="fa fa-phone"></i> 09074858612</li>
                        <li><i class="fa fa-envelope"></i> <a href="{% url 'contact' %}">demonews@gmail.com</a></li>
                        
                    </ul>
                </div>

                <div class="section-row">
                    <div class="section-title">
                        <h2 class="title">Mail us</h2>
                    </div>
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="input" type="email" required name="email" placeholder="Email">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input class="input" type="text" required name="subject" placeholder="Subject">
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <textarea class="input" name="message" required placeholder="Message"></textarea>
                                </div>
                                <button class="primary-button">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-4">
                <!-- social widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Social Media</h2>
                    </div>
                    <div class="social-widget">
                        <ul>
                            <li>
                                <a href="https://www.facebook.com/orhuerakpor.ruky" class="social-facebook">
                                    <i class="fa fa-facebook"></i>
                                    <span>Follow Us</span>
                                </a>
                            </li>
                            
                            
                        </ul>
                    </div>
                </div>
                <!-- /social widget -->

                <!-- newsletter widget -->
                <div class="aside-widget">
                    <div class="section-title">
                        <h2 class="title">Newsletter</h2>
                    </div>
                    <div class="newsletter-widget">
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <p>Subscribe to our Newsletter.</p>
                            <input class="input" name="email" type="email" required="required" placeholder="Enter Your Email">
                            <button class="primary-button">Subscribe</button>
                        </form>
                    </div>
                </div>
                <!-- /newsletter widget -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->

{% endblock %}